<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Resume</h1>
  <h2>Daniel Barfuss</h2>
  <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>Computer Programming</li>
    <li>Video Games</li>
    <li>Watching Shows</li>
    <li>Programming</li>
    <li>Learning Human Languages</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Web Design with HTML & CSS</li>
    <li>Python</li>
    <li>Java</li>
    <li>Technical Writing</li>
  </ul>
  <p class="head">Education</p>
  <ul>
    <a href="https://www.ccsdut.org/skyview">
      <li>Sky View High School</li>
    </a>
    <!--Link-->
    <a href="https://www.usu.edu/">
      <li>Utah State University</li>
    </a>
  </ul>
  <p class="head"></p>
  <ul>
    <li>Information Technology Security Student Technician for Utah State University</li>
    <li>Quality Assurance Engineer Intern for the Church of Jesus Christ of Latter-Day Saints</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Member of the Presidency for Utah State University's Student Organization for Cybersecurity</li>
    <li>Cache Valley Ultimate Frisbee (Recreational, during the summer)</li>
  </ul>
  <a href="/">Return to Home</a>
	

</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">Daniel Barfuss</h2></div>
</html>
